@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
    color:white;
    font-family: 'Raleway', sans-serif;
    overflow:hidden;
}

@viewport {
  user-zoom: fixed;
}

a{
    text-decoration: none;
}

/* Backgrounds */

.first-start-bg{
    position:absolute;
    height: -webkit-fill-available;
    width: 100%;
}

.second-bg{
    width:100vw;
    left:0;
    position:absolute;
    transform: scale(1.2) translateY(50%); 
    transition:1.5s;
    z-index: 25;
}

.third-bg{
    width: 100vw;
    left: 0;
    position: absolute;
    transform: scale(1.2) translateY(50%);
    transition: 1.5s;
    z-index: 25;
}

.fourth-bg{
    width: 100vw;
    left: 0;
    position: absolute;
    transform: scale(1.2) translateY(50%);
    transition: 1.5s;
    z-index: 25;
}

/*.bg-start-forest{
    width:100vw;
    height:100vh;
    background-image: url('../images/forest.png');
    background-size: 100%;
    position: absolute;
    z-index: -5;
}

.bg-start-mountains{
    background-image: url('../images/mountains.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -4;
}

.bg-start-rock{
    background-image: url('../images/rock.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}*/

.first-start-bg{
    display: flex;
    align-items: center;
    /*width: 100%;*/
}


.bg-start-forest{
    zoom:100%;
    transition: .5s;
    animation: zoom 2.6s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: .1s; /* Задержка перед началом */
    z-index: -1;
}

.bg-start-mountains{
    position:absolute;
    bottom:1%;
    left:0%;
    animation: zoom 1.8s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: .2s; /* Задержка перед началом */
}

.bg-start-rock{
    position:absolute;
    bottom:0%;
    right: 0%;
    animation: zoom 1.8s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: .2s; /* Задержка перед началом */
}

main {
    padding:45px 130px;
    z-index: 10;
}

/* Header */

#header{
    opacity:0;
    transition: 1s;
    animation: show .6s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: .5s; /* Задержка перед началом */
}

@keyframes show{
    0%{
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

@keyframes zoom{
    0%{
        transform: scale(1); 
    }
    100% {
        transform: scale(1.3); 
        right:-7%;
    }
}

.logo__name{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

header{
    display: flex;
    justify-content: space-between;
    z-index: 500;
    position: relative;
}

ul{
    display: flex;
}

li{
    padding-left:100px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

li:first-child{
    padding-left:0;
}

.elements{
    display:flex;
    height:40px;
}

.element__li{
    position:relative;
}

.element{
    transition: color 2.5s ease;
}

.element::after{
    content:'';
    height:5px;
    width:5px;
    background-color:var(--color);
    position: absolute;
    left: 50%;
    bottom:-10px;
    border-radius: 100px;
    opacity:0;
    transition: .2s, background-color 2.5s ease;
}

.element:hover::after{
    opacity:1;
    width:100%;
    left:0;
}

.active::after{
    opacity:1;
}

.relative{
    position:relative;
}


/* Slide Start */

.slide-start{
    margin-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
}

.slide-start__h1{
    font-weight: 500;
    font-size: 96px;
    line-height: 113px;
    text-align: center;
}

.discover__btn{
    text-align: center;
    background-color: transparent;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    border-color: white;
    padding:9px 78px;
    border: 2px solid white;
    border-radius: 30px;
    cursor:pointer;
    transition:.2s;
}

.discover__btn:hover{
    background-color:white;
}

.discover__btn span {
    background-image: url('../images/forest.png');
    background-position: -28px -6px; /* Смещение фона на величину отступов */
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
    text-shadow: 0 0 0 currentColor;
    transition: text-shadow s ease-in-out;
  }
.discover__btn:hover span { -webkit-text-fill-color: black; }

#ustala{
  transition:2s;
}

/* Slide Ireland */

.bg-second{
    z-index:-5;
}

#info-ireland{
    display: none;
    opacity:0;
    transition:all 2s ease;
    z-index: 50;
    position: relative;
    position: absolute;
    top: 12%;
    height: 80vh;
}

.ireland__all{
    display:flex;
    flex-direction: row-reverse;
}

.counter-page{
    min-width:10%;
    position:absolute;
    left:15px;
    bottom: 50%;
}

.ireland__block{
    max-width: 74%;
    margin-right: 18%;
}

.ireland__h1{
    font-weight: 400;
    font-size: 85px;
    line-height: 113px;
    margin-left: -7px;
}

.ireland__description{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.counter__span{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.counter-slice::before{
    content:'';
    width:2px;
    height:100%;
    background-color:white;
    position:absolute;
}

.arrows{
    display: flex;
    position:absolute;
    right:10%;
    flex-direction: column;
    bottom: 42%;
}

.arrow{
    filter:invert(100%);
    cursor:pointer;
}

.arrow-up{
    margin-bottom:25px;
}

.arrow-down{
    margin-top:25px;
}

/*Australia*/

#info-australia{
    display: none;
    opacity:0;
    transition:all 2s ease;
    z-index: 50;
    position: relative;
    position: absolute;
    top: 12%;
    height: 80vh;
}

/*Wales*/

#info-wales{
    display: none;
    opacity:0;
    transition:all 2s ease;
    z-index: 50;
    position: relative;
    position: absolute;
    top: 12%;
    height: 80vh;
}

#bg-menu-mob, #bg-menu-arrow__img{
    display: none;
}

/*Adaptive*/

@media screen and (max-width: 1620px){
    .bg-start-mountains {
        bottom: -3%;
        left: -8%;
    }

    .bg-start-rock {
        bottom: 4%;
        right: 0%;
    }
}

@media screen and (max-width: 1480px){
    .bg-start-mountains {
        bottom: -5%;
        left: -6%;
    }

    .bg-start-rock {
        bottom: 5%;
        right: 0%;
    }
}

@media screen and (max-width: 1420px){
    .bg-start-mountains {
        bottom: -3%;
        left: -7%;
    }

    .bg-start-rock {
        bottom: 4%;
        right: 0%;
    }
}

@media screen and (max-width:975px){
    main{
        padding: 45px 15px;
    }

    .bg-start-forest{
        height: fit-content;
        min-width: fit-content;
    }

    .bg-start-mountains {
        bottom: 4%;
        left: -53%;
    }

    .bg-start-rock {
        bottom: 0%;
        right: 0%;
        left: 0;
    }

    .slide-start__h1{
        font-size: 65px;
        line-height: 81px;
    }

    /*Slides*/

    .ireland__h1{
        font-size: 67px;
        line-height: 71px;
        margin-left: 0px;
    }

    #info-ireland .arrow{
        filter: invert(0) !important;
    }

    .arrows{
        right: 5%;
        bottom: 35%;
    }

    .ireland__block{      
        margin-right: 20%;
    }

    .counter__span{
        display:none;
    }

    header .logo, header .elements{
        display:none;
    }

    #bg-menu-mob{
        color:black;
        display:block;
        width:100%;
        height:65px;
        position:absolute;
        background-color:white;
        transform:translateX(100%);
        transition: .3s;
        z-index: 99;
    }

    #bg-menu-arrow__img{
        display: block;
        filter: invert(0%);
        position: absolute;
        z-index: 100;
        right:25px;
        width:40px;
        transform:rotate(-90deg);
        transition: .3s;
    }

    .mob-element{
        color:black;
    }

    .mob-elements{
        height:40px;
        padding-left: 20px;
    }

    .mob-elements li {
        padding-left: 18px;
        font-size:20px;
    }

    .mob-elements .active{
        font-weight: 800;
    }

    .mob-element::after{
        content:'';
        position:absolute;
        top:100%;
        left:50%;
        height:5px;
        width:5px;
        background-color:black;
        border-radius:50px;
        opacity:0;
    }

    .active::after{
        opacity:1;
    }

    .mob-element:hover::after{
        opacity:1;
    }

    .mob-element:hover{
        font-weight: 800;
        transform:translateY(10px);
    }

    .ireland__h1{
        margin-top:0;
    }

    body {
        position:fixed;
        height: 100%;
   }
}